
.home_title {
    @apply text-[18px] md:text-[24px] lg:text-[32px]
}

.link {
    @apply relative after:transition after:duration-300 before:transition before:duration-300
    before:w-full before:h-[1px] before:bg-primary before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-0 hover:before:scale-x-100
    after:w-full after:h-[1px] after:bg-primary after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-0 hover:after:scale-x-100
}

.link_footer {
    @apply relative after:transition after:duration-300 before:transition before:duration-300
    before:w-full before:h-[1px] before:bg-white before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-0 hover:before:scale-x-100
    after:w-full after:h-[1px] after:bg-white after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-0 hover:after:scale-x-100
}

.active {
    @apply relative
    before:w-full before:h-[1px] before:bg-primary before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-100
    after:w-full after:h-[1px] after:bg-primary after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-100
}

body:has(#menu-toggle:checked) {
    overflow-y: hidden;
}

.dialog-element {
    @apply p-6 w-[80%] md:w-1/2 lg:w-1/3 fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform origin-center bg-white border-primary border-2 rounded-2xl shadow-2xl backdrop:bg-black backdrop:opacity-50;

    .dialog-element__title {
        @apply font-bold text-center border-b-2 mb-6 pb-4 border-primary;
    }

    .dialog-element__fieldset {
        @apply grid grid-cols-2 gap-6 pb-4 border-b-2 border-primary mb-6;
    }

    .dialog-element__buttons_container {
        @apply col-span-2 flex flex-col sx:flex-row sx:justify-end gap-4 sx:mx-0;
    }
}

.visually-hidden:not(:focus, :active) {
    block-size: 1px;
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.basic {
    @apply col-span-full;

    .basic__title {
        @apply hidden;
    }
    .basic__fieldset {
        @apply grid grid-cols-1 sx:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4;
    }

    .basic__buttons_container {
        @apply flex flex-col sx:flex-row gap-4 mt-4 ml-auto w-fit;
    }
}
