@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import '../css/nav.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-primary: #C6CCF8;
    --color-secondary: #FBE6A2;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
    --font-poppins: 'Poppins', sans-serif;
    --font-nunito: 'Nunito Sans', sans-serif;

    --text-title: 2rem;

    --breakpoint-sx: 555px;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}


.home_title{
    @apply text-[18px] md:text-[24px] lg:text-[32px]
}

p{
    @apply font-nunito
}

.link {
    @apply relative after:transition after:duration-300 before:transition before:duration-300
    before:w-full before:h-[1px] before:bg-primary before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-0 hover:before:scale-x-100
    after:w-full after:h-[1px] after:bg-primary after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-0 hover:after:scale-x-100
}
.link_footer {
    @apply relative after:transition after:duration-300 before:transition before:duration-300
    before:w-full before:h-[1px] before:bg-white before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-0 hover:before:scale-x-100
    after:w-full after:h-[1px] after:bg-white after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-0 hover:after:scale-x-100
}

