.alert-success {
    @apply bg-green-100 border border-green-400 w-fit absolute top-0 right-0 text-green-700 px-5 py-3 rounded-md mb-5;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2s forwards;
}
.alert-delete {
    @apply bg-red-100 border border-red-400 w-fit absolute top-0 right-0 text-red-700 px-5 py-3 rounded-md mb-5;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}
