.link {
    @apply relative after:transition after:duration-300 before:transition before:duration-300
    before:w-full before:h-[1px] before:bg-primary before:absolute before:-top-2 before:left-0 before:origin-left before:scale-x-0 hover:before:scale-x-100
    after:w-full after:h-[1px] after:bg-primary after:absolute after:-bottom-2 after:left-0 after:origin-right after:scale-x-0 hover:after:scale-x-100
}
.span_burger_menu{
    @apply block bg-primary rounded-2xl w-6 min-h-1  transition-transform ease-in-out
}

#menu-toggle:checked ~ label span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}

#menu-toggle:checked ~ label span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ label span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s;
}
