.span_burger_menu{
    @apply block bg-primary rounded-2xl w-6 min-h-1  transition-transform ease-in-out
}

#menu-toggle:checked ~ label span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}

#menu-toggle:checked ~ label span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ label span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s;
}
